



.btn{
width: 50%;
}


.principal{
    height:70vh;
}


.navegacion{
    width: 100%;
    border: solid 3px rgb(86, 166, 177);

}



.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 26, 48);
    height: 70px;
}

p{
    text-align: center;
color: white;
}

.red{
    background-color: greenyellow;
}


.enlace-active{
    background-color: aqua;
}